@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Raleway";
  }
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Melodrame";
  src: url("./assets/mélodrame.ttf");
}
@font-face {
  font-family: "Horence";
  src: url("./assets/Horence.otf");
}
@font-face {
  font-family: "Cottage";
  src: url("./assets/DreamCottage-Regular.otf");
}
@font-face {
  font-family: "Alex";
  src: url("./assets/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "Whimster";
  src: url("./assets/Whimster.otf");
}
.toastBody {
  font-family: "Raleway";
  font-size: 1rem;
}
